.pagina-contato p {
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 20px;
  line-height: 30px;
}
.pagina-contato h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 30px;
}

.pagina-contato h5 {
  text-align: center;
  font-size: 20px;
}

.pagina-contato article {
  background-color: #f0f8ff;
  margin-left: 270px;
  margin-right: 270px;
  padding-bottom: 30px;
}

.titulo-contato {
  padding-top: 30px;
}

.pagina-contato iframe {
  margin-left: 185px;
}

/*  sfdsfdsfdsfdsfd*/

.formulario h1 {
  font-size: 25px;
  font-family: cursive;
  margin-left: 60px;
}

.formulario textarea {
  width: 540px;
  margin-left: 60px;
}

.formulario label {
  margin-left: 60px;
  font-family: fantasy;
}

.formulario button {
  margin-left: 60px;
  background-color: darkcyan;
  color: aliceblue;
  font-weight: bolder;
  font-size: 16px;
  width: 100px;
  height: 50px;
  border-radius: 4px;
  border-color: white;
  margin-top: 5px;
}

.formulario button:hover {
  background-color: rgb(75, 218, 118);
  font-size: 20px;
}

.formulario input {
  width: 490px;
  height: 30px;
}

.estiloCustomizado {
  background-color: rgba(243, 94, 111, 0.5);
}

.estiloCustomizado-formulario {
  background-color: rgba(255, 255, 255, 0.5);
}

.alerta-personalizado {
  background-color: #ff0000;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.alerta-personalizado-sucesso {
  background-color: #4af669;
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/*Media query*/

@media screen and (max-width: 430px) {
  .pagina-contato p {
    text-align: justify;
    margin-left: -260px;
    margin-right: -100px;
    padding: 10px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    opacity: 0.8;
    line-height: 30px;
  }

  .pagina-contato iframe {
    width: 400px;
    margin-left: -265px;
  }

  .titulo-contato {
    margin-left: -195px;
    padding-top: 20px;
    text-align: center;
  }
}
